@media screen and (min-width: 1000px) {
  body {
    background-color: #d4d4d4;
  }
  header {
    padding-top: 1px;
    padding-bottom: 30px;
    background-color: rgb(7, 7, 61);
    background-repeat: no-repeat;
    background-size: auto;
    background-origin: content-box;
  }
  .lune-titre {
    position: absolute;
    width: 400px;
  }
  .soleil-titre {
    width: 100px;
    position: absolute;
  }
  li {
    font-size: 25px;
  }

  header h1 {
    color: white;
    margin-left: 10%;
    margin-bottom: 10px;
    font-size: 80px;
  }

  ul.nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    text-align: center;

    font-weight: 150;
    margin-right: 50px;
    margin-left: 260px;

    list-style: none;
  }
  .nav-menu :hover {
    color: yellow;
  }
  a {
    text-decoration: none;
    color: white;
  }

  .container {
    margin: auto;
    background-color: white;
    padding-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
    padding-block-end: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  h2 {
    font-size: 60px;
    color: black rgb(7, 7, 61);
    text-align: center;
    margin-bottom: 80px;
    margin-top: 100px;
  }
  h2 :hover {
    transform: perspective(400px) rotateY(45 deg);
  }
  .img-galerie {
    width: 400px;
    height: 400px;
  }
  .footer {
    text-align: center;
    list-style: none;
    background-color: black;
    height: 200px;
    padding-top: 50px;
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  .lune-titre {
    position: absolute;
    width: 200px;
  }
  .soleil-titre {
    width: 100px;
    position: absolute;
  }
  .ml2 {
    color: white;
    margin-left: 150px;
    position: absolute;
    margin-top: 60px;
  }
  header {
    background-color: rgb(7, 7, 61);
    width: 100%;
  }
  .img-galerie {
    width: 100%;
    height: auto;
  }
  .footer {
    list-style: none;
    background-color: black;
    height: 150px;
    padding-top: 50px;
    font-size: 20px;
  }
  a {
    text-decoration: none;
    color: white;
  }
}
