@media screen and (min-width: 1000px) {
  header {
    padding-top: 1px;
    padding-bottom: 30px;
    background-color: navy;
    background-repeat: no-repeat;
    background-size: auto;
    background-origin: content-box;
  }
  .lune-titre {
    position: absolute;
    width: 400px;
  }
  .soleil-titre {
    width: 100px;
    position: fixed;
  }
  li {
    font-size: 25px;
  }

  header h1 {
    color: white;
    margin-left: 5%;
    margin-bottom: 10px;
    font-size: 80px;
  }

  ul.nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    text-align: center;

    font-weight: 150;
    margin-right: 50px;
    margin-left: 260px;

    list-style: none;
  }
  a {
    text-decoration: none;
    color: white;
  }

  .container {
    margin: auto;
    background-color: rgb(58, 97, 168);
    margin-left: 200px;
    margin-right: 200px;
    padding-block-end: 100px;
  }

  h2 {
    font-size: 60px;
    color: white;
    text-align: center;
    text-shadow: 1px 1px 2px white, 0 0 1em blue, 0 0 0.2em blue;
    margin-bottom: 80px;
    margin-top: 100px;
  }
  h2 :hover {
    transform: perspective(400px) rotateY(45 deg);
  }
  .img-galerie {
    display: grid;
    grid-template-columns: repeat(auto-fill, 100px);
    margin: 50px;
  }
}

@media screen and (max-width 768px) {
}
